extends layout

block content
  h1= title
  - let results=bikes
  div(class="container-fluid")
    div(class="row m-1")
      each bike in results
        - let destination = `dispatch(\"/bike/update?id=${bike._id}\")`
        div(class="col-sm-2",class="m-1")
          p Brand: #{bike.brand}
          p Model: #{bike.model}
          p Engine Capacity(cc): #{bike.engine_capacity}
          button.btn( class="btn-primary ml-1", onclick= destination) Update
  script.
    function dispatch(path){
      window.location.href=path
    }
