extends layout

block content
  h1= title
  - let results=bikes
  div(class="container-fluid")
    div(class="row")
      each bike, index in results
        div(class="col-sm-2" onclick=`buy(${index})`)
          p Brand: #{bike.brand}
          p Model: #{bike.model}
          p Engine Capacity(cc): #{bike.engine_capacity}
  script.
    function buy(index){
      console.log("recieved")
      alert(`You purchased the item at ${index+1}`)
    }
